.country img{
    width: 100%;
    height: 50%;
}
.country{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    gap: 1rem;
    border: 1px solid red;
    padding: 15px;
    border-radius: 10px;
}
.country p{
    font-size: 18px;
}

.country button {
    padding: 10px;
    border: 1px solid lightcoral;
    border-radius: 10px;
    margin-right: 10px;
}

.country-visited{
    background-color: aquamarine;
}